@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 100vh;
}

.content
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    padding: 20px;
    height: auto;
    background-color: hsl(0, 0%, 100%);
}

.qrimg
{
    border-radius: 10px;
    height: 360px;
    width: 360px;
    margin-bottom: 20px;
}
.heading, .info
{
    width: 360px;
    margin-bottom: 20px;
    text-align: center;
}

.info
{
   color:  hsl(212, 45%, 89%);
}


@media only screen and (max-width: 376px){
    
    .qrimg
    {
        height: 260px;
        width: 260px;
    }

    .heading, .info
    {
        width: 260px;
    }
}
    
